<div class="ot-main-page-content">

  <div class="ot-content-block">
  <div class="ot-material-card ot-material-card-content" itemscope="" itemtype="http://schema.org/Blog">

    <div class="article-head">
      <div class="img-with-no-margin">
        <img itemprop="image" src="{{ post.index_image }}" alt="{{ post.slug }}">
      </div>
      <h1 itemprop="headline">{{ post.title }}</h1>
      <meta itemprop="datePublished" content="{{ post.publish_at }}">
      <meta itemprop="dateModified" content="{{ post.publish_at }}">
      <div class="article-head-meta">
        <a href="#" class="meta-item"><i class="material-icons">person</i><span itemprop="author">{{ post.author }}</span></a>
        <span class="meta-item"><i class="material-icons">access_time</i>{{ post.publish_at }}</span>
      </div>
    </div>

    <div class="shortcode-content" itemprop="mainEntityOfPage" [innerHTML]="post.content"></div>

    <div class="article-foot-tags">
      <strong><i class="material-icons">folder_open</i>Címkék</strong>
      <div>
        <a href="#" *ngFor="let tag of post.tags">{{ tag.title }}</a>
      </div>
    </div>

    <div class="article-foot-tags">
      <strong><i class="material-icons">content_copy</i>Kategória</strong>
      <div>
        <a [routerLink]="['/kategoria', category.slug]" *ngFor="let category of post.categories">{{ category.title }}</a>
      </div>
    </div>

  </div>
</div>

</div>
