<div class="ot-title-block">
  <h2>Legújabb bejegyzések</h2>
</div>

<div class="ot-content-block">
  <owl-carousel
    [options]="{dots: !1, nav: !0, margin: 30,loop: !0, navElement: 'div'}"
    [items]="latestPosts"
    [carouselClasses]="['ot-block-article-slider', 'otg', 'otg-items-3', 'otg-h-30', 'otg-slider']">
    <div class="otg-item item" *ngFor="let post of latestPosts">
      <a href="#">
        <img src="{{ post['index_image'] }}" alt="{{ post['title'] }}" />
        <span class="item-content">
        <strong>{{ post['title'] }}</strong>
        <span class="meta-items">
          <i class="meta-items-i"><i class="material-icons">person</i>{{ post['author'] }}</i>
          <i class="meta-items-i"><i class="material-icons">access_time</i>{{ post['publish_at'] }}</i>
        </span>
      </span>
      </a>
    </div>
  </owl-carousel>
</div>
