<div id="boxed" class="active">
  <app-header></app-header>
  <!-- BEGIN #content -->
  <main id="content">
    <div class="wrapper">
      <app-postslide *ngIf="this.router.url == '/'"></app-postslide>

      <div class="wrapper">
        <div class="ot-content-with-sidebar-right">
          <router-outlet></router-outlet>
          <aside class="sidebar">

            <div class="widget">
              <h3><span>Advertisement space</span></h3>
              <div class="do-space">
                <a href="http://orange-themes.com" target="_blank"><img src="../../../../assets/images/aspace-2.jpg" alt=""></a>
              </div>
            </div>

            <!--<div class="widget widget_search">
              <h3><span>Most popular articles</span></h3>
              <div class="ot-widget-article-list">

                <div class="item">
                  <div class="item-header">
                    <a href="post.html"><img src="../../../../assets/images/photos/image-11.jpg" alt=""></a>
                  </div>
                  <div class="item-content">
                    <a href="#" class="read-later-widget-btn"><i class="material-icons">access_time</i><i class="ot-inline-tooltip">Read later</i></a>
                    <h4><a href="post.html">If You Really Want To, You'll Be Able To Immerse Yourself In The World</a></h4>
                  </div>
                </div>

                <div class="item">
                  <div class="item-header">
                    <a href="post.html"><img src="../../../../assets/images/photos/image-12.jpg" alt=""></a>
                  </div>
                  <div class="item-content">
                    <a href="#" class="read-later-widget-btn"><i class="material-icons">access_time</i><i class="ot-inline-tooltip">Read later</i></a>
                    <h4><a href="post.html">Cum delenit luptatum et, suscipit legendos nec cu possim minimum philosophia.</a></h4>
                  </div>
                </div>

                <div class="item">
                  <div class="item-header">
                    <a href="post.html"><img src="../../../../assets/images/photos/image-13.jpg" alt=""></a>
                  </div>
                  <div class="item-content">
                    <a href="#" class="read-later-widget-btn"><i class="material-icons">access_time</i><i class="ot-inline-tooltip">Read later</i></a>
                    <h4><a href="post.html">Mea nostro fabulas disputationi ex, quo audire prompta no hinc labitur omittam</a></h4>
                  </div>
                </div>

                <div class="item">
                  <div class="item-header">
                    <a href="post.html"><img src="../../../../assets/images/photos/image-14.jpg" alt=""></a>
                  </div>
                  <div class="item-content">
                    <a href="#" class="read-later-widget-btn"><i class="material-icons">access_time</i><i class="ot-inline-tooltip">Read later</i></a>
                    <h4><a href="post.html">Mea nostro fabulas disputationi ex, quo audire prompta no hinc labitur omittam</a></h4>
                  </div>
                </div>

              </div>
              <a href="blog.html" class="ot-widget-button">View more articles</a>
            </div>-->


            <div class="widget">
              <h3><span>Címkék</span></h3>
              <div class="tagcloud">
                <a *ngFor="let tag of tags" [routerLink]="['/cimke', tag.title]">{{ tag.title }}</a>
              </div>
            </div>

          </aside>

        </div>

    </div>
    </div>
  </main>
</div>
