<header id="header" style="background: #4e4e4e;">
  <div class="wrapper">
    <div class="header-blocks">
      <div class="header-blocks-logo">
        <a routerLink="/" id="header-logo-image"><img src="../../../assets/../../../../assets/images/logo.png" data-ot-retina="../../../assets/../../../../assets/images/logo@2x.png" alt="" /></a>
      </div>
      <div class="header-blocks-aspace">
        <a href="http://orange-themes.com" target="_blank"><img src="../../../assets/../../../../assets/images/aspace-1.jpg" alt="" /></a>
      </div>
    </div>


    <div class="main-menu-placeholder">
      <nav id="main-menu" class="otm otm-follow">
        <ul class="load-responsive">
          <li *ngFor="let menu of menus">
            <a [routerLink]="['kategoria', menu.slug]" *ngIf="menu.children.length > 0"><span>{{ menu.title}}</span></a>
            <a [routerLink]="['kategoria', menu.slug]" *ngIf="menu.children.length == 0">{{ menu.title }}</a>
            <ul class="sub-menu" *ngIf="menu.children.length > 0">
              <li *ngFor="let menu of menu.children">
                <a [routerLink]="['kategoria', menu.slug]" *ngIf="menu.children.length > 0"><span>{{ menu.title}}</span></a>
                <a [routerLink]="['kategoria', menu.slug]" *ngIf="menu.children.length == 0">{{ menu.title }}</a>
                <ul class="sub-menu" *ngIf="menu.children.length > 0">
                  <li *ngFor="let menu of menu.children">
                    <a [routerLink]="['kategoria', menu.slug]">{{ menu.title }}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>

        </ul>
      </nav>
      <a href="#search-header" class="search-header-bull"><i class="material-icons">search</i></a>
    </div>
  </div>

  <div id="search-overlay">
    <div id="search-overlay-inner">

      <form action="blog.html" method="get">
        <input type="text" value="" placeholder="Search something..">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>

      <strong class="category-listing-title"><span>Articles worth reading</span></strong>

      <div class="ot-content-block">

        <div class="ot-grid-article-list otg otg-items-3 otg-h-30">

          <div class="otg-item">
            <div class="ot-material-card">
              <a href="post.html" class="item-header"><img src="../../../../assets/images/photos/image-4.jpg" alt="" /></a>
              <div class="item-content">
                <h3><a href="post.html">If You Really Want To, You'll Be Able To Immerse Yourself In</a></h3>
                <span class="meta-items">
												<a href="blog.html" class="meta-items-i"><i class="material-icons">person</i>Orange Themes</a>
												<i class="meta-items-i"><i class="material-icons">access_time</i>23 minutes ago</i>
											</span>
                <p>Eum et novum mollis corpora. Ad lorem altera omittantur pro, eros modus dolore id usu. His hinc munere intellegebat in. Sea tibique dissentias ea. Nominati voluptatum ullamcorper eos ut</p>
              </div>
              <div class="item-footer">
                <a href="post.html" class="card-footer-button">Read more</a>
                <a href="#" class="card-footer-button">Read later</a>
              </div>
            </div>
          </div>

          <div class="otg-item">
            <div class="ot-material-card">
              <a href="post.html" class="item-header"><img src="../../../../assets/images/photos/image-5.jpg" alt="" /></a>
              <div class="item-content">
                <h3><a href="post.html">Eu vix augue sententiae et eos amet populo mea forensibus</a></h3>
                <span class="meta-items">
												<a href="blog.html" class="meta-items-i"><i class="material-icons">person</i>Orange Themes</a>
												<i class="meta-items-i"><i class="material-icons">access_time</i>23 minutes ago</i>
											</span>
                <p>Eum et novum mollis corpora. Ad lorem altera omittantur pro, eros modus dolore id usu. His hinc munere intellegebat in. Sea tibique dissentias ea. Nominati voluptatum ullamcorper eos ut</p>
              </div>
              <div class="item-footer">
                <a href="post.html" class="card-footer-button">Read more</a>
                <a href="#" class="card-footer-button">Read later</a>
              </div>
            </div>
          </div>

          <div class="otg-item">
            <div class="ot-material-card">
              <a href="post.html" class="item-header"><img src="../../../../assets/images/photos/image-6.jpg" alt="" /></a>
              <div class="item-content">
                <h3><a href="post.html">Pro ad adhuc autem expetenda, ius in accusam ignota</a></h3>
                <span class="meta-items">
												<a href="blog.html" class="meta-items-i"><i class="material-icons">person</i>Orange Themes</a>
												<i class="meta-items-i"><i class="material-icons">access_time</i>23 minutes ago</i>
											</span>
                <p>Eum et novum mollis corpora. Ad lorem altera omittantur pro, eros modus dolore id usu. His hinc munere intellegebat in. Sea tibique dissentias ea. Nominati voluptatum ullamcorper eos ut</p>
              </div>
              <div class="item-footer">
                <a href="post.html" class="card-footer-button">Read more</a>
                <a href="#" class="card-footer-button">Read later</a>
              </div>
            </div>
          </div>

          <div class="otg-item">
            <div class="ot-material-card">
              <a href="post.html" class="item-header"><img src="../../../../assets/images/photos/image-4.jpg" alt="" /></a>
              <div class="item-content">
                <h3><a href="post.html">If You Really Want To, You'll Be Able To Immerse Yourself In</a></h3>
                <span class="meta-items">
												<a href="blog.html" class="meta-items-i"><i class="material-icons">person</i>Orange Themes</a>
												<i class="meta-items-i"><i class="material-icons">access_time</i>23 minutes ago</i>
											</span>
                <p>Eum et novum mollis corpora. Ad lorem altera omittantur pro, eros modus dolore id usu. His hinc munere intellegebat in. Sea tibique dissentias ea. Nominati voluptatum ullamcorper eos ut</p>
              </div>
              <div class="item-footer">
                <a href="post.html" class="card-footer-button">Read more</a>
                <a href="#" class="card-footer-button">Read later</a>
              </div>
            </div>
          </div>

          <div class="otg-item">
            <div class="ot-material-card">
              <a href="post.html" class="item-header"><img src="../../../../assets/images/photos/image-5.jpg" alt="" /></a>
              <div class="item-content">
                <h3><a href="post.html">Eu vix augue sententiae et eos amet populo mea forensibus</a></h3>
                <span class="meta-items">
												<a href="blog.html" class="meta-items-i"><i class="material-icons">person</i>Orange Themes</a>
												<i class="meta-items-i"><i class="material-icons">access_time</i>23 minutes ago</i>
											</span>
                <p>Eum et novum mollis corpora. Ad lorem altera omittantur pro, eros modus dolore id usu. His hinc munere intellegebat in. Sea tibique dissentias ea. Nominati voluptatum ullamcorper eos ut</p>
              </div>
              <div class="item-footer">
                <a href="post.html" class="card-footer-button">Read more</a>
                <a href="#" class="card-footer-button">Read later</a>
              </div>
            </div>
          </div>

          <div class="otg-item">
            <div class="ot-material-card">
              <a href="post.html" class="item-header"><img src="../../../../assets/images/photos/image-6.jpg" alt="" /></a>
              <div class="item-content">
                <h3><a href="post.html">Pro ad adhuc autem expetenda, ius in accusam ignota</a></h3>
                <span class="meta-items">
												<a href="blog.html" class="meta-items-i"><i class="material-icons">person</i>Orange Themes</a>
												<i class="meta-items-i"><i class="material-icons">access_time</i>23 minutes ago</i>
											</span>
                <p>Eum et novum mollis corpora. Ad lorem altera omittantur pro, eros modus dolore id usu. His hinc munere intellegebat in. Sea tibique dissentias ea. Nominati voluptatum ullamcorper eos ut</p>
              </div>
              <div class="item-footer">
                <a href="post.html" class="card-footer-button">Read more</a>
                <a href="#" class="card-footer-button">Read later</a>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>

</header>
