<div class="ot-main-page-content">
  <div class="row">
    <div class="col-md-6">
      <div class="ot-content-block .">
        <div class="ot-title-block">
          <h2>{{ category1 }}</h2>
        </div>
        <div class="ot-block-article-slider otg  otg-h-30 otg-v-30">
          <div class="otg-item" *ngFor="let post of posts1.posts">
            <div class="item">
              <a [routerLink]="['/', post.slug]">
                <img src="{{ post.index_image }}" alt="{{ post.slug }}" />
                <span class="item-content">
                  <span class="item-category">
                    <span class="item-category-i" style="color: #ffae22; border-color: #ffae22;">{{ category1 }}</span>
                  </span>
                  <strong>{{ post.title }}</strong>
                  <span class="meta-items">
                    <i class="meta-items-i"><i class="material-icons">access_time</i>{{ post.publish_at }}</i>
                  </span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="ot-content-block .">
        <div class="ot-title-block">
          <h2>{{ category2 }}</h2>
        </div>
        <div class="ot-block-article-slider otg  otg-h-30 otg-v-30">
          <div class="otg-item" *ngFor="let post of posts2.posts">
            <div class="item">
              <a [routerLink]="['/', post.slug]">
                <img src="{{ post.index_image }}" alt="{{ post.slug }}" />
                <span class="item-content">
                  <span class="item-category">
                    <span class="item-category-i" style="color: #ffae22; border-color: #ffae22;">{{ category2 }}</span>
                  </span>
                  <strong>{{ post.title }}</strong>
                  <span class="meta-items">
                    <i class="meta-items-i"><i class="material-icons">access_time</i>{{ post.publish_at }}</i>
                  </span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

