<div class="ot-main-page-content">

  <div class="ot-title-block">
    <h2 style="color: #ffae22; border-color: #ffae22;">{{ categoryWithPosts.title }}</h2>
  </div>

  <div class="ot-content-block">

    <div class="ot-articles-material-blog-list">

      <div class="item" *ngFor="let post of categoryWithPosts.posts">
        <div class="item-header">
          <a [routerLink]="['/', post.slug]" class="item-header-image"><img src="{{ post.index_image }}" alt=""></a>
        </div>
        <div class="item-content">
          <h2><a [routerLink]="['/', post.slug]">{{ post.title }}</a></h2>
          <span class="item-meta">
												<span class="item-meta-item"><i class="material-icons">person</i>{{ post.author}}</span>
												<span class="item-meta-item"><i class="material-icons">access_time</i>{{ post.publish_at}}</span>
											</span>
          <p>{{ (post.raw_content.length>150)? (post.raw_content | slice:0:150)+'..':(post.raw_content) }}</p>
        </div>
      </div>

    </div>

  </div>

</div>
